@import "./base/reset.module";
@import "./utils/colors.module";

body {
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $dark !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
