@import "../index.module.scss";

.question {
  background-color: $gray;
  border: 1px solid $gray2;
  border-radius: $border-radius;
  padding: 25px;
  width: 55%;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $align: flex-start,
    $gap: 20px
  );

  @include large-screen {
    width: 65%;
  }

  @include desktop {
    width: 80%;
  }

  @include tablet {
    width: 90%;
  }

  @include mobile {
    width: 95%;
  }

  .header {
    @include flexbox($justify: space-between, $align: center, $gap: 10px);
    width: 100%;
    margin-bottom: 5px;

    @include small-screen {
      flex-direction: column-reverse;
    }

    .title {
      color: $white;
      letter-spacing: $letter-spacing;
      font-size: 22px;
      line-height: 25px;

      @include desktop {
        font-size: 20px;
      }

      @include small-screen {
        text-align: center;
      }
    }

    .count {
      color: $green2;
      font-size: 20px;
      font-weight: $font-weight;
      word-break: keep-all;
    }
  }

  .answers {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 15px
    );
    width: 100%;

    .answerItem {
      background-color: $dark;
      padding: 12px 15px;
      color: $white;
      letter-spacing: $letter-spacing;
      font-size: 16px;
      border-radius: $border-radius;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;

      &.correct {
        background-color: $green;
      }

      &.wrong {
        background-color: $red;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .nextBtn {
    padding: 12px 15px;
    background-color: $blue;
    border-radius: $border-radius;
    width: 100%;
    font-size: 16px;
    font-family: $font-weight;
    text-align: center;
    color: $white;
    letter-spacing: $letter-spacing;
    opacity: 0.6;
    border: none;
    outline: none;
    cursor: not-allowed;

    &.clicked {
      opacity: initial;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
