@import "../index.module.scss";

.result {
  width: 40%;
  padding: 40px;
  border-radius: $border-radius;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $align: center,
    $gap: 20px
  );

  @include large-screen {
    width: 65%;
  }

  @include desktop {
    width: 80%;
  }

  @include tablet {
    width: 90%;
  }

  @include mobile {
    width: 95%;
    padding: 20px 10px;
    gap: 15px;
  }

  &.passed {
    background-color: $green;
  }

  &.failed {
    background-color: $red;
  }

  .text {
    color: $white;
    font-size: 32px;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    text-align: center;

    @include small-screen {
      font-size: 24px;
    }
  }

  .score {
    color: $white;
    font-size: 24px;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    text-align: center;

    @include small-screen {
      font-size: 18px;
    }
  }
}
